<%- include('layouts/header')  %>

<div class="container">
    
    <div class="row mt-3">
        <div class="col-md-12">
            <h1>ติดต่อเรา</h1>
            <p>หากท่านมีข้อสงสัยหรือคำถามเกี่ยวกับบริการของเรา กรุณาติดต่อเราผ่านช่องทางด้านล่างนี้</p>
            <ul>
                <li>นายสุเมธ ชูรัตน์</li>
                <li>ที่อยู่ 349/6 หมู่ 2 ตำบลรอบเมือง อำเภอเมือง จังหวัดชัยภูมิ</li>
                <li>อีเมล: choomeet1984@gmail.com</li>
</div>
<%- include('layouts/footer')  %>