
<% if(!locals.login){
    res.redirect('/');
    return;
}else{ %>
<%- include('layouts/header.ejs') %>

<p>test user : <%= login %></p>
<p>test isValid: <%= isValid %></p>
<a href="/logout"><button class="btn btn-danger">ออกจากระบบ</button></a>
<%- include('layouts/footer.ejs') %>
<% } %>