
<%- include('layouts/header.ejs') %>
<div class="container">
   <h3>นโยบายความเป็นส่วนตัว</h3> 
   <div class="privacy-policy">
       <p>นโยบายความเป็นส่วนตัว</p>
       <p>แอปพลิเคชันนี้ (“แอปฯ”) จัดทำขึ้นเพื่อให้ข้อมูลเกี่ยวกับกฎหมายสหกรณ์และกลุ่มเกษตรกร โดยอ้างอิงจาก</p>
       <ul>
           <li>พระราชบัญญัติสหกรณ์ พ.ศ. 2542 และที่แก้ไขเพิ่มเติม</li>
           <li>พระราชกฤษฎีกาว่าด้วยกลุ่มเกษตรกร พ.ศ. 2547</li>
       </ul>
       <p>เราเคารพในสิทธิความเป็นส่วนตัวของผู้ใช้ทุกท่าน และขอยืนยันว่า:</p>
       <ul>
           <li>ไม่มีการเก็บรวบรวมข้อมูลส่วนบุคคล เช่น ชื่อ อีเมล เบอร์โทรศัพท์ หรือข้อมูลระบุตัวตนอื่นใด</li>
           <li>แอปไม่มีระบบลงทะเบียน หรือระบบบันทึกข้อมูลผู้ใช้</li>
           <li>ไม่มีการเชื่อมต่อกับบริการภายนอกที่อาจมีการติดตามหรือเก็บข้อมูลผู้ใช้</li>
           <li>การใช้งานทั้งหมดภายในแอปเป็นแบบออฟไลน์ หรือดึงข้อมูลจากแหล่งอ้างอิงที่ระบุไว้เท่านั้น</li>
       </ul>
       <p>หากมีการเปลี่ยนแปลงใด ๆ ที่เกี่ยวข้องกับความเป็นส่วนตัว เราจะทำการอัปเดตนโยบายนี้และแจ้งให้ทราบอย่างเหมาะสม</p>
 
    <h5> ติดต่อผู้พัฒนา</h5>
    <div>
        หากคุณมีคำถามหรือต้องการข้อมูลเพิ่มเติมเกี่ยวกับนโยบายนี้ กรุณาติดต่อ:
        อีเมล: choomeet1984@gmail.com
    </div>
   
    <div style="font-weight: bold; margin-top : 10px;">ขอบคุณที่ใช้แอปพลิเคชันของเรา</div>

   

<%- include('layouts/footer.ejs') %>